.metadata/
Technische Informatica/.metadata/
Technische Informatica/Hotel/bin/
Technische Informatica/Lamp/bin/
Technische Informatica/Main/bin/
Technische Informatica/Rollit/bin/
Technische Informatica/Week 2/bin/
Technische Informatica/Week 3/bin/
Technische Informatica/Week 4/bin/
Technische Informatica/Week 5/bin/
Technische Informatica/Week 6/bin/
.gitignore~